version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: tourism_sl_chatbot
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: unless-stopped

  backend:
    image: ${ECR_REGISTRY}/${ECR_REPOSITORY_BACKEND}:latest
    environment:
      - DB_NAME=tourism_sl_chatbot
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_HOST=db
      - DB_PORT=5432
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/tourism_sl_chatbot
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=ap-south-1
      - S3_BUCKET=tourism-chatbot-s3
      - SECRET_KEY=${SECRET_KEY}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - CHROMA_PERSIST_DIRECTORY=./chroma_db
      - UPLOAD_FOLDER=./uploads
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - app-network
    restart: unless-stopped
    volumes:
      - chroma_data:/app/chroma_db
      - upload_data:/app/uploads

  frontend:
    image: ${ECR_REGISTRY}/${ECR_REPOSITORY_FRONTEND}:latest
    ports:
      - "80:80"
    environment:
      - REACT_APP_API_URL=http://${EC2_HOST}:5000
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  chroma_data:
  upload_data: